<p>
  <strong>English:</strong>
  <%= @term.english %>
</p>

<p>
  <strong>American:</strong>
  <%= @term.american %>
</p>

<%= link_to 'Back', terms_path %>
| <%= link_to 'Edit', edit_term_path(@term) %>